.nav-choices-2{
    display: flex;
    flex-direction: row;
    /* border: blue solid; */
}

.nav-choices-2 > li:hover{
    color: grey;
}

.nav-choices-2 > li{
    font-size: 1.5em;
    padding-left: 10px;
    padding-right: 10px;
    list-style-type: none;
}