.ds-wrapper{
    display: grid;
    grid-template-columns: 1em 1fr 1fr 1fr 1em;
    grid-template-areas: ". s-dog m-dog l-dog .";
    font-size: 1.5em;
    padding: 10px;
}

.s-dog{
    grid-area: s-dog;
    justify-self: center;
}

.m-dog{
    grid-area: m-dog;
    justify-self: center;
}

.l-dog{
    grid-area: l-dog;
    justify-self: center;
}