.ds-wrapper{
    display: grid;
    grid-template-columns: 15px 1fr 1fr 1fr 15px;
    grid-template-areas: 
        "dog-header dog-header dog-header dog-header dog-header"
        ". small-dog small-dog small-dog ."
        ". medium-dog medium-dog  medium-dog  ."
        ". large-dog large-dog  large-dog  .";
}

.dog-header{
    grid-area: dog-header;
    background-color: rgb(51, 51, 199);
    color: white;
    box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, 0.3);

}

.dog-header > h1{
    text-align: center;
}

.dog-header > p{
    text-align: center;
    width: auto;
    margin: 30px;

}

.dog > h1 {
    margin: 10px 0 5px 0;
}

.small-dog{
    padding-top: 15px;
    grid-area: small-dog;
}

.medium-dog{
    grid-area: medium-dog;
}

.large-dog{
    grid-area: large-dog;
}

@media (min-width: 1200px){
    .ds-wrapper{
        display: grid;
        grid-template-columns: 15px 1fr 1fr 1fr 15px;
        grid-template-areas: 
            "dog-header dog-header dog-header dog-header dog-header"
            ". small-dog medium-dog large-dog ."
            ". small-dog medium-dog  large-dog  ."
            ". small-dog medium-dog  large-dog  .";
    }
}