

.go-up > a{
    position: absolute;
    bottom: 3%;
    right: 3%;
    font-size: 2.25em;
    color: black;
}

.go-up > a:hover{
    color: grey;
}

.dog-results{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 30px;
}

.dog-cards{
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
    width: 350px;
    min-height: 450px;
    max-height: auto;
    box-shadow: 8px 8px 6px -6px #777;
    background-color: #2e519e;
    color: whitesmoke;
    border: solid rgb(219, 219, 219);
    transition: all 125ms ease-in-out;
    border-radius: 5%;
}

.dog-cards:hover{
    transform: scale(1.1);
}

.dog-cards-picture > img{
    max-width: 100%;
    max-height: 100%;
    border: solid  black;
    border-radius: 5%;
}

.dog-cards-inner{
    padding: 10px;
    margin: 15px;
    background-color: white;
    border-radius: 5%;
}


.dog-cards-breed{
    text-align: center;
    margin: 15px;
    font-size: 1.25em;
    font-weight: bold;
}


.dog-cards-desc{
    margin: 0 10px 0 10px;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.dog-cards-button{
    margin: 10px;
    display: flex;
    justify-content: flex-end;
    
}