.hero-wrapper > p{
    color: white;
    font-size: 1.25em;
    text-align: center;

}

.hero-wrapper > h1{
    color: white;
    font-size: 3em;
    text-align: center;
}

.hero-wrapper{
    padding: 10px
}