.hero-wrapper{
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    height: 600px;
}

.hero-image{
    grid-column: 2/14;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/dog-hero.jpg");
}

.hero-image{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 1em 2fr 2fr 2fr 2fr 1fr;
}
.hero-text{
    grid-column: 2/8;
    grid-row-start: 2;
    border: red solid;
    font-size: 5em;
    color: rgb(255, 255, 255);
    justify-self: center;
}