.hamnav-wrapper{
    box-shadow: 0 3px 8px 0 hsla(0, 0%, 0%, 0.4) inset;

}

.nav-choices{
    display: flex;
    flex-direction: column;
}

.nav-choices > li:hover{
    color: grey;
}

.nav-choices > li{
    margin: 0 auto;
    font-size: 1.5em;
    list-style-type: none;
}