.footer-wrapper{
    display: grid;
    grid-template-columns: 15px 2fr 2fr 2fr 1fr 15px;
    grid-template-areas:
        ". mission mission mission mission ."
        ". mission mission mission mission ."
        ". social social social social ."
        ". copyright copyright copyright copyright ." ;
    background-color: #2e519e;
    box-shadow: 0 -4px 8px 0 hsla(0, 0%, 0%, 0.3);

}

.mission-state{
    grid-area: mission;
    text-align: center;
    margin-top: 10px;
    color: white;
    font-size: 1.25em;

}

.social-links{
    grid-area: social;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-top: solid white;
    border-bottom: solid white;
    padding: 10px 0 10px 0;
    color: white;

}

.copyright{
    margin-top: 15px;
    grid-area: copyright;
    text-align: center;
    color: white;
}

