.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    grid-template-areas: 
        "header header header"
        "hero hero hero"
        "dogsize dogsize dogsize"
        "footer footer footer"
}

.header {
    grid-area: header;
    border: red solid;
}

.hero{
    grid-area: hero;
    border: green solid;
}

.dogsize{
    grid-area: dogsize;
    border: blue solid;

}

.footer{
    grid-area: footer;
    border: black solid;

}
