.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    
    grid-template-areas: 
        "header"
        "hero"
        "dogsize"
        "footer"
}

.header {
    grid-area: header;
    /* box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2); */
    border: red solid;
}

.hero{

    grid-area: hero;
    border: green solid;
}

.dogsize{
    grid-area: dogsize;
    border: blue solid;

}

.footer{
    grid-area: footer;
    border: black solid;

}
